html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ***************ABOUT US STYLE*************** */
.about-us-sections {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  background-color: #eee;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  background-color: #809f9f !important;
  border-color: #809f9f !important;
  color: white;
  font-weight: bold;
}

.feature-icon-small {
  width: 50px;
  height: 50px;
}

.hyperlink-social {
  text-decoration: none;
  text-emphasis: none;
}

.text-bg-primary {
  background-color: #006262 !important;
}

.text-bg-primary:hover {
  background-color: #023e3d !important;
}

.social {
  background-color: #eee;
}

.hyperlink-social-row {
  display: flex;
  flex-direction: row;
}

/* ***************FORM STYLE*************** */
.form-link {
  color: #006262;
  font-weight: bold;
}

.form-link:hover {
  color: #023e3d;
  font-weight: bold;
}

.background-container {
  background-image: url('/src/assets/images/ASLBackgroundSigns.png');
  height: 100%;
  background-position: center;
}

.login-form,
.signup-form {
  max-width: 900px;
  position: absolute;
  right: 50%;
  top: 47%;
  transform: translate(50%, -50%);
  background: white;
}

.form-label {
  font-size: larger;
  font-weight: bold;
  /* text-align: end; */
}

.form-control {
  border-color: #aaa;
}

.form-control:focus {
  border-color: #006262;
  border-width: 0.2rem;
}

.form-check-input {
  height: 20px;
  width: 20px;
  border-color: #000000;
}

.form-error {
  color: #ca4c4c;
  min-height: 25px;
}

.form-submit-row {
  padding-right: 12px !important;
}

.form-signup-submit-row {
  padding-right: 12px !important;
}

/* ***************MODAL STYLE*************** */
.modal-backdrop {
  display: none;
}

.modal-dialog {
  width: 100%;
  height: 100%;
}

/* ***************HERO STYLE*************** */
.hero {
  min-height: 400px;
  min-width: 90%;
  right: 50%;
  top: 35%;
  transform: translate(50%, -50%);
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-color: #ddd;
}

.menu-hero {
  min-height: 400px;
  min-width: 90%;
  right: 50%;
  top: 35%;
  transform: translate(50%, -50%);
  position: absolute;
  border-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ***************CHAT MENU BUTTON STYLE*************** */
.menu-button-style {
  background-color: #006262;
  color: white;
  max-width: 400px;
  height: 100px;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-button-style:hover {
  background-color: #023e3d;
  color: white;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-style,
.home-button-style {
  background-color: #006262;
  color: white;
  width: 150px;
  font-size: x-large;
  font-weight: bold;
}

.button-style:hover,
.home-button-style:hover {
  background-color: #023e3d;
  color: white;
  width: 150px;
  font-size: x-large;
  font-weight: bold;
}

.back-button-style {
  background-color: #006262;
  color: white;
  width: 50px;
  font-size: x-large;
}

.back-button-style:hover {
  background-color: #023e3d;
  color: white;
  width: 50px;
  font-size: x-large;
}

.cancel-button-style {
  width: 50px;
  font-size: x-large;
}

.cancel-button-style:hover {
  width: 50px;
  font-size: x-large;
  color: #fff;
  background-color: #023e3d;
}

.cancel-button-style:se .btn:hover {
  background-color: #006262;
}

.speed-button-style {
  background-color: #006262;
  color: white;
  min-width: 70px;
}

.button-style:hover {
  background-color: #023e3d;
  color: white;
  width: 150px;
  font-size: x-large;
  font-weight: bold;
}

.btn-outline-dark {
  border-color: #006262;
  border-width: 0.2rem;
  color: #006262;
  width: 150px;
  font-size: x-large;
  font-weight: bold;
}

.btn-outline-dark:hover {
  border-color: #023e3d;
  background-color: #023e3d;
  border-width: 0.2rem;
  color: #ffffff;
  width: 150px;
  font-size: x-large;
  font-weight: bold;
}

.dropdown-menu {
  /* border-color: #7d255b;
  border-width: 5px; */
  font-size: larger;
}

.b-example-divider {
  background-color: #00000018;
  height: 50px;
}

.large-text-style {
  font-size: larger;
}

.page-container {
  position: relative;
  /* display: flex; */
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  /* padding-bottom: 100px; */
}

.hyperlink {
  color: #023e3d;
}

.hyperlink:hover {
  color: #7d255b;
}

.alert {
  width: 200px,
}

.hand-gesture-background {
  max-width: 100%;
  height: auto;
}

.resources-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

.resources-grid-item {
  min-height: 300px;
  border-style: solid;
  border-width: 3px;
  border-color: #bdbdbd;
  border-radius: 5px;
}

.about-grid {
  align-items: center;
  grid-row-gap: 50px;
}

.shadow-before-background {
  min-height: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.2);
}

.camera-button {
  min-width: 220px;
}

.wider-button {
  min-width: 300px;
}

.chatbox-scrollable {
  padding-top: 10px;
  height: 440px;
  margin: 15px;
  overflow-y: auto;
  /* scrollbar-width: thin; */
}

.chatbox-scrollable::-webkit-scrollbar {
  width: 5px; 
}

.chatbox-scrollable::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.list-group-item:hover {
  background-color: #006262;
  color: #ffffff;
}

.list-group-item.active {
  background-color: #006262 !important;
  color: #ffffff;
}

.transcript-box {
  max-height: 585px;
}

.transcript-list {
  max-height: 450px;
  overflow-y: auto;
}



.action-buttons {
  background-color: #ddd;
  min-width: 100%;
  /* min-height: 470px; */
  /* justify-content: center; */
  /* align-items: center; */
}

.action-button-style {
  font-size: x-large;
  align-items: center;
  min-height: 70px;
  min-width: 70px;
  border-color: #000000 !important;
}

.speed-slider {
  -webkit-appearance: slider-vertical;
  appearance: none;
  width: 10px;
  height: 120px;
  border-radius: 50%;
  background: #006262 !important;
  cursor: pointer;
}

.vertical {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
}


.slider-labels {
  color: #fff;
}

.slider-label {
  position: absolute;
  margin-left: -10px;
}

.slider-style {
  /* background-color: #7d255b; */
  /* padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 0px; */
  width: 60px;
}

.camera-button-style {
  height: 60px;
  width: 60px;
  border-color: transparent !important;
  background-color: #ddd;
}

.camera-button-style:hover {
  background-color: #bbb;
}

.camera-button-style.active {
  background-color: #006262;
}

.chat-box {
  background: #eee;
  min-height: 650px;
}

.message-preview-chat-box {
  background: #eee;
  height: 470px;
}

.message-header {
  /* background: #006262; */
  /* color: white; */
  width: 300px;
  position: relative;
  display: inline-block;
}

.messages-heading {
  height: 55px;
}

.strike-through {
  display: block;
  width: 100px;
  height: 2px;
  background-color: black;
  margin: 10px 0;
}

.alert {
  margin-bottom: 0 !important;
}

.message-preview {
  height: 470px;
  overflow-y: auto;
}

.camera-placeholder {
  width: 100%;
  min-height: 470px; 
  display: flex;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #006262;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.list-group-search {
  width: 100%
}

.transcript-shadow {
  box-shadow: inset 0 0 15px #eee;
}

.input-area {
  width: 100%;
  border-color: #000000;
}

.video-canvas {
  padding: 0px !important;

}

.video-style {
  max-width: 656px;
}

.overlay {
  position: absolute;
  top: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider-text {
  padding: 0 10px;
}

.chat-user {
  position: relative;
  display: inline-block;
  font-size: larger;
  padding-top: 15px;
  padding-left: 20px;
  margin-left: 10px;
  background-color: #eee;
  color: white;
  width: 160px;
}

.chat-user-name {
  color: black;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  /* Green indicates active */
  position: relative;
  top: -20;
  left: -10;
}

.glowing {
  border-radius: 10px;
  border-color: white;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #006262;
  }

  to {
    box-shadow: 0 0 50px #023e3d;
  }
}

/* ***************CHAT STYLE*************** */
.chat-container {
  width: 100%;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  color: black;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-name {
  margin: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-actions button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


.chat-messages {
  padding: 20px;
  /* height: 400px; */
  overflow-y: auto;
}

.avatar {
  width: 40px;
  /* Adjust size as needed */
  height: 40px;
  /* Adjust size as needed */
  border-radius: 50%;
  margin: 5px;
}

.message {
  display: flex;
  align-items: end;
  margin-bottom: 15px;
}

.message.theirs {
  flex-direction: row;
}

.message.mine {
  flex-direction: row-reverse;
}

.message-content {
  flex-grow: 1;
  margin-bottom: -6px;
  overflow-wrap: break-word;
}

.username {
  display: block;
  font-size: 0.85em;
  color: #333;
  margin-bottom: 4px;
}

.message p {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 70%;
  min-width: 40%;
}

.mine {
  text-align: right;
}

.mine p {
  background-color: #006262;
  color: white;
}

.theirs p {
  background-color: #ddd;
  color: black;
}

.time {
  display: block;
  white-space: nowrap;
  font-size: 0.85em;
  color: #999;
  margin-top: 4px;
}

.time.theirs {
  padding-left: 50px;
}

.chat-input-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* padding: 5px; */
  background: #FFFFFF;
  border-radius: 10px;
  border: #000000;
  border-width: 5px;
  /* box-shadow: 0px 3px 6px #00000029; */
  width: 100%;

}

.microphone-icon {
  color: #7d255b;
  width: 55;
}

.microphone-icon:hover {
  color: #809f9f;
  cursor: pointer;
}

.input-group-text {
  border: none;
  background-color: transparent;
}

.input-group {
  border-color: #aaa !important;
  background-color: white;
}

.input-group:focus-within {
  border-color: #006262 !important;
  border-width: 0.2rem !important;
}

.chat-input {
  border: transparent;
  padding: 10px;
  margin-left: 5px;
  width: 100%;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  min-height: 5px;
  line-height: 20px;
  margin-bottom: 8px;
}

.input-group textarea:focus {
  outline: none;
  box-shadow: none;
}

.send-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #7d255b;
}

/* Optional: Add some hover effect for the button */
.send-button:hover {
  color: #809f9f;
}

.hand-detected-alert {
  min-height: 20px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
}

/* ***************FOOTER STYLE*************** */

.footer {
  background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    height: 110px;
    clear: both;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.menu {
  display: flex;
}

.menu-item {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.social-media {
  display: flex;
}

.social-icon {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.rights {
  text-align: center;
  margin-top: 10px;
  font-size: 0.75em;
}

/* ***************NAVBAR STYLE*************** */
.navbar {
  font-size: larger;
  background-color: #FEFCFD;
  border-bottom: #006262;
}

.navbar>.container-fluid {
  padding: 0%;
}

.navbar-collapse {
  position: relative;
  z-index: 10;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); */
  background-color: #FEFCFD;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.nav-item {
  margin-left: 5px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: white;
  background-color: #006262;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #023e3d;
  color: white;
}

.nav-link {
  color: black;
}