html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.howto-icon {
  color: #757c7c !important;
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2em;
  height: 2.4em;
}

.chat-name-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2em;
  height: 1.2em;
}


/* ***************BUTTON STYLE*************** */
.btn-raised {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.btn-raised:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}

/* ***************HOME PAGE STYLE*************** */
.hero-section {
  background-image: url('/src/assets/images/ASLBackgroundSigns.png');
  height: 100vh;
  background-color: rgba(00, 00, 00, 0.50);
  color: white;
  padding: 100px 0;
  width: 100%;
}

.landing-page h1 {
  font-size: 7vh;
}

.landing-page p {
  font-size: 5vh;
  margin-bottom: 2rem;
}

.landing-page i {
  cursor: help;
  font-size: 5vh;
}

.landing-page {
  background-color: #006262;
  padding: 5vh;
  
}

.landing-button-style {
  background-color: white;
  color: #006262;
  height: 4rem;
  font-size: x-large;
  font-weight: bold;
}

.landing-button-style:hover {
  background-color: #023e3d;
  color: white;
}

.card-container {
  padding: 50px 0;
}

/* ***************ALERT STYLE*************** */
.alert-style {
  /* max-width: 100%; */
  min-height: 50px;
  position: relative;
  /* right: 50%; */
  /* top: 47%; */
  transform: translate(50%, -50%);
  /* background: white; */
}

.toast-success {
  color: #77bb41;
}

.toast-danger {
  color: #ca4c4c;
}

/* ***************ABOUT US STYLE*************** */
.about-us-sections {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  background-color: #eee;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  background-color: #809f9f !important;
  border-color: #809f9f !important;
  color: white;
  font-weight: bold;
}

.feature-icon-small {
  width: 50px;
  height: 50px;
}

.hyperlink-social {
  text-decoration: none;
  text-emphasis: none;
}

.text-bg-primary {
  background-color: #006262 !important;
}

.text-bg-primary:hover {
  background-color: #023e3d !important;
}

.social {
  background-color: #eee;
}

.hyperlink-social-row {
  display: flex;
  flex-direction: row;
}

/* ***************FORM STYLE*************** */
.form-link {
  color: #006262;
  font-weight: bold;
}

.form-link:hover {
  color: #023e3d;
  font-weight: bold;
}

.background-container {
  background-image: url('/src/assets/images/ASLBackgroundSigns.png');
  height: 100vh;
  padding: 10vh 0;
}

.login-form,
.signup-form {
  max-width: 90%;
  background: white;
}

.form-label {
  font-size: larger;
  font-weight: bold;
  /* text-align: end; */
}

.form-control {
  border-color: #aaa;
}

.form-control:focus {
  border-color: #006262;
  border-width: 0.2rem;
}

.form-check-input {
  height: 20px;
  width: 20px;
  border-color: #000000;
}

.form-error {
  color: #ca4c4c;
  min-height: 25px;
}

.form-signup-submit-row {
  padding-right: 12px !important;
}

.form-button-style {
  background-color: #006262;
  color: white;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
  font-size: x-large;
  font-weight: bold;
}

.login-button-style:hover {
  background-color: #023e3d;
  color: white;
}

/* ***************MODAL STYLE*************** */
.modal-button-style {
  background-color: #006262;
  color: white;
  font-weight: bold;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
}

.modal-button-style:hover {
  background-color: #023e3d;
  color: white;
}

.modal-dialog {
  color: black;
}

.modal-footer > button {
  height: 6vh;
  font-size: large;
}

.modal-body > h2, h3, h4 {
  color: #555;
}
.modal-body > p, ul {
  margin-bottom: 10px;
}
.modal-body > a {
  color: #007bff;
  text-decoration: none !important;
}
.modal-body > a:hover {
  text-decoration: underline;
}

.tips {
  background-color: #f9f9f9;
  border-left: 5px solid #007bff;
  padding: 10px;
  margin-bottom: 20px;
}

/* ***************HERO STYLE*************** */
.hero {
  min-height: 400px;
  min-width: 90%;
  right: 50%;
  top: 35%;
  transform: translate(50%, -50%);
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-color: #ddd;
}

.menu-hero {
  min-height: 400px;
  min-width: 90%;
  right: 50%;
  top: 35%;
  transform: translate(50%, -50%);
  position: absolute;
  border-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ***************CHAT MENU BUTTON STYLE*************** */
.menu-button-style {
  background-color: #006262;
  color: white;
  max-width: 400px;
  height: 100px;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-button-style:hover {
  background-color: #023e3d;
  color: white;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-style,
.home-button-style {
  background-color: #006262;
  color: white;
  width: 150px;
  font-size: x-large;
  font-weight: bold;
}

.button-style:hover,
.home-button-style:hover {
  background-color: #023e3d;
  color: white;
  width: 150px;
  font-size: x-large;
  font-weight: bold;
}

.back-button-style {
  background-color: #006262;
  color: white;
  width: 50px;
  font-size: x-large;
}

.back-button-style:hover {
  background-color: #023e3d;
  color: white;
  width: 50px;
  font-size: x-large;
}

.chat-action-button {
  width: 40px;
  height: 40px;
  font-size: x-large;
}

.chat-action-button:hover {
  background-color: #ddd;
}

.chat-action-button:se .btn:hover {
  background-color: #006262;
}

.speed-button-style {
  background-color: #006262;
  color: white;
  min-width: 70px;
}

.button-style:hover {
  background-color: #023e3d;
  color: white;
  width: 150px;
  font-size: x-large;
  font-weight: bold;
}

.btn-outline-dark {
  border-color: #006262;
  border-width: 0.2rem;
  color: #006262;
  width: 150px;
  font-size: x-large;
  font-weight: bold;
}

.btn-outline-dark:hover {
  border-color: #023e3d;
  background-color: #023e3d;
  border-width: 0.2rem;
  color: #ffffff;
  width: 150px;
  font-size: x-large;
  font-weight: bold;
}

.dropdown-menu {
  /* border-color: #7d255b;
  border-width: 5px; */
  font-size: larger;
}

.dropdown {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.b-example-divider {
  background-color: #00000018;
  height: 50px;
}

.large-text-style {
  font-size: larger;
}

.page-container {
  position: relative;
  display: block;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  /* padding-bottom: 100px; */
}

.hyperlink {
  color: #023e3d;
}

.hyperlink:hover {
  color: #7d255b;
}

.alert {
  width: 200px,
}

.hand-gesture-background {
  max-width: 100%;
  height: auto;
}

.resources-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

.resources-grid-item {
  min-height: 300px;
  border-style: solid;
  border-width: 3px;
  border-color: #bdbdbd;
  border-radius: 5px;
}

.about-grid {
  align-items: center;
  grid-row-gap: 50px;
}

.shadow-before-background {
  min-height: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.2);
}

.camera-button {
  min-width: 220px;
}

.wider-button {
  min-width: 300px;
}



.chatbox-scrollable::-webkit-scrollbar {
  width: 5px;
}

/* For WebKit (Chrome, Safari, etc.) */
.chatbox-scrollable::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
}

.chatbox-scrollable {
  padding-top: 10px;
  height: 75vh;
  margin: 15px;
  overflow-y: auto;
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: darkgrey transparent;
}

.admin-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* For momentum scroll on mobile devices */
  /* gap: 16px; Optional: Adds some space between the children */
  /* padding: 8px; Optional: Adds some padding inside the scroll container */
  align-items: center; /* Keeps items aligned in the center vertically */
}

.chat-list:hover {
  background-color: #006262;
  color: #ffffff;
}

.chat-list.active {
  background-color: #006262 !important;
  color: #ffffff !important;
}

.chat-list-item:hover .chat-options-icon {
  display: inline-block; /* Initially, this can be set to display: none; */
}

.chat-options-icon {
  display: none; /* Hide by default */
  cursor: pointer;
}

.transcript-box {
  max-height: 585px;
}

.transcript-list {
  max-height: 450px;
  overflow-y: auto;
}

.action-buttons {
  background-color: white;
  max-width: 100%;
  /* min-height: 470px; */
  /* justify-content: center; */
  /* align-items: center; */
}

.action-button-style {
  font-size: x-large;
  align-items: center;
  min-height: 70px;
  min-width: 70px;
  border-color: #000000 !important;
}

.interval-style {
  text-align: end;
}

.speed-slider {
  -webkit-appearance: slider-vertical;
  appearance: none;
  width: 10px;
  height: 120px;
  border-radius: 50%;
  background: #006262 !important;
  cursor: pointer;
}

.vertical {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
}


.slider-labels {
  color: #fff;
}

.slider-label {
  position: absolute;
  margin-left: -10px;
}

.slider-style {
  /* background-color: #7d255b; 
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 0px; */
  width: 60px;
}

.camera-button-style {
  height: 60px;
  min-width: 60px;
  border-color: transparent !important;
  background-color: #ddd;
  color: #006262;
  font-weight: bold;
}

.camera-button-style:hover {
  background-color: #bbb;
}

.camera-button-style.active {
  background-color: #006262;
}

.chat-box {
  background: #eee;
  min-height: 800px;
}

.video-box {
  min-height: 680px;
  background-color: white;
}

.message-preview-chat-box {
  background: #eee;
  height: 470px;
}

.message-header {
  /* background: #006262; */
  /* color: white; */
  width: 300px;
  position: relative;
  display: inline-block;
}

.messages-heading {
  height: 55px;
  /* z-index: 10; */
}

.strike-through {
  display: block;
  width: 100px;
  height: 2px;
  background-color: black;
  margin: 10px 0;
}

.alert {
  margin-bottom: 0 !important;
}

.message-preview {
  height: 470px;
  overflow-y: auto;
}

iframe {
  width: 100%;
  height: 500px;
}

.chat-placeholder {
  flex-grow: 1; /* Takes up all available space */
  min-height: 500px;
  align-items: center;
  text-align: center;
  background-color: white;
}

.video-placeholder {
  flex-grow: 1; /* Takes up all available space */
  min-height: 500px;
  align-items: center;
  text-align: center;
}

.camera-placeholder {
  width: 100%;
  min-height: 530px;
  display: flex;
  margin-left: 0.1px;
  margin-right: 0.1px;
  justify-content: center;
  align-items: center;
  color: #006262;
  /* background-color: #ddd; */
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #006262;
}

.list-group-search {
  width: 100%
}

.transcript-shadow {
  box-shadow: inset 0 0 15px #eee;
}

.input-area {
  width: 100%;
  border: none;
  padding: 1px;
  bottom: 0;
}

.input-group {
  border-color: red;

}

.video-style {
  max-width: 656px;
  /* margin-top: 100px; */
  border-color: #ddd;
  border-width: 2px;
}

.overlay {
  position: absolute;
  top: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider-text {
  padding: 0 10px;
}

.chat-user {
  position: relative;
  display: inline-block;
  font-size: larger;
  padding-top: 15px;
  padding-left: 20px;
  margin-left: 10px;
  background-color: #eee;
  color: white;
  width: 160px;
}

.chat-user-name {
  color: black;
}

.status-indicator {
  width: 10px;
  height: 10px;
  position: relative;
  top: -20;
  left: -10;
}

.glowing {
  border-radius: 10px;
  border-color: white;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 500px #006262;
  }

  to {
    box-shadow: 0 0 50px #023e3d;
  }
}

/* ***************CHAT STYLE*************** */
.chat-page {
  /* background-color: #d4d3d3; */
  min-height: 800px;
  max-width: 1300px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  background: white;
}

.chat-container {
  width: 100%;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  color: black;
  max-height: 2cm;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-name {
  margin: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-actions button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.chat-messages {
  padding: 20px;
  /* height: 400px; */
  overflow-y: auto;
}

.last-message {
  font-size: 0.9em;
  /* Adjust the size as needed */
  /* color: #555; A lighter text color for the message */
  min-height: 30px;
}

.avatar {
  width: 40px;
  /* Adjust size as needed */
  height: 40px;
  /* Adjust size as needed */
  border-radius: 50%;
  margin: 5px;
}

.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.message.theirs {
  flex-direction: row;
}

.message.mine {
  flex-direction: row-reverse;
}

.message-content {
  flex-grow: 1;
  margin-bottom: -6px;
  overflow-wrap: break-word;
}

.username {
  display: block;
  font-size: 0.85em;
  color: #333;
  margin-bottom: 4px;
}

.message p {
  margin: 0;
  padding: 10px;
  display: inline-block;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 70%;
  min-width: 40%;
}

.mine {
  text-align: right;
}

.mine p {
  background-color: #006262;
  color: white;
  border-radius: 13px 13px 0 13px;
}

.theirs p {
  background-color: #ddd;
  color: black;
  border-radius: 13px 13px 13px 0;
}

.time {
  display: block;
  white-space: nowrap;
  font-size: 0.85em;
  color: #999;
  margin-bottom: 4px;
}

.chat-input-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* padding: 5px; */
  background: #FFFFFF;
  border-radius: 10px;
  border: #000000;
  border-width: 5px;
  /* box-shadow: 0px 3px 6px #00000029; */
  width: 100%;

}

.filter-input-icon {
  background-color: transparent !important;
}

.input-icon {
  color: #7d255b;
  width: 55;
  border: none;
}

.input-icon:hover {
  color: #809f9f;
  cursor: pointer;
}

.input-group-text {
  /* border: none; */
  background-color: transparent;
}

.input-group {
  border-color: #aaa !important;
  background-color: white;
}

.input-group:focus-within {
  border-color: #006262 !important;
  border-width: 0.2rem !important;
}

.chat-input {
  border: transparent;
  padding: 10px;
  margin-left: 5px;
  width: 100%;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  min-height: 5px;
  line-height: 20px;
  margin-bottom: 8px;
}

.input-group textarea:focus {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.send-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #7d255b;
}

/* Optional: Add some hover effect for the button */
.send-button:hover {
  color: #809f9f;
}

.hand-detected-alert {
  min-height: 20px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
}

/* ***************FOOTER STYLE*************** */

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  height: 110px;
  clear: both;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.menu {
  display: flex;
}

.menu-item {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.social-media {
  display: flex;
}

.social-icon {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.rights {
  text-align: center;
  margin-top: 10px;
  font-size: 0.75em;
}

/* ***************NAVBAR STYLE*************** */
.navbar {
  font-size: larger;
  background-color: #FEFCFD;
  border-bottom: #006262;
}

.navbar-brand {
  cursor: pointer;
}

.navbar-collapse {
  position: relative;
  z-index: 10;
  background-color: #FEFCFD;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.nav-item {
  margin-left: 5px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: white;
  background-color: #006262;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #023e3d;
  color: white !important;
}

.nav-link {
  color: black;
}

.navbar-button-style {
  background-color: #006262;
  color: white !important;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
  font-weight: bold;
}

.nav-link.dropdown-toggle:focus, .nav-link.dropdown-toggle:active {
  color: white !important; /* White font color */
  background-color: #006262 !important; /* Specific background color */
}

/* Optional: Style for dropdown items on hover or active */
.dropdown-item:hover, .dropdown-item:focus {
  color: white !important; /* White font color for items */
  background-color: #006262 !important; /* Specific background color for items */
}

.dropdown-item {
  font-size: 17px;
}

.notification-list {
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: darkgrey transparent;
}

.notification-list::-webkit-scrollbar {
  width: 5px;
}

/* For WebKit (Chrome, Safari, etc.) */
.notification-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
}

.notification-list .dropdown-item:hover {
  background-color: transparent !important;
  color: black !important;
}

.notification-action {
  cursor: pointer; 
  color: #006262;
}

.notification-action:hover {
  cursor: pointer; 
  color: white;
  background-color: #006262;
}

.notification-text {
  font-size: 15px;
}

/* ***************STOPWATCH STYLE*************** */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    /* Start above the original position */
    opacity: 0;
  }

  50% {
    opacity: 1;
    /* Make it fully visible as it moves */
  }

  100% {
    transform: translateY(0);
    /* End at the original position */
    opacity: 1;
  }
}

.countdown-animation {
  animation: slideDown 0.5s ease-out;
  display: flex;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shaking {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* ***************ADMIN CHAT STYLE*************** */
.admin-chat-container {
  min-height: 100vh;
  min-width: 95%;
  justify-content: center;
  align-items: center;
  border-color: #ddd;
  background-color: #eee;
}

.search-bar {
  min-width: 100% !important;
}

.search-icon {
  font-size: x-large;
}

.admin-chat-box {
  background: white;
  min-height: 100%;
}

.admin-chat-list {
  background: white;
  /* max-height: 100%; */
  flex-grow: 1;
  overflow-y: auto;
}

.search-field {
  background-color: white;
  padding-bottom: 20px;
  border-color: #999 !important;
}

.search-input {
  border: transparent;
  outline: none;
  width: 100%;
  resize: none;
  overflow: hidden;
}

.chat-list-item {
  min-height: 85px;
}

.chat-list-item:hover {
  background-color: #809f9f;
  color: white
}

.chat-list-item.active {
  background-color: #006262 !important;
  color: #ffffff;
}

/* ***************RESIZABLE COLUMNS*************** */
.resizable-container {
  display: flex !important;
  align-items: stretch !important;
}

.resizable-left-panel,
.resizable-right-panel {
  flex-grow: 1;
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.resizable-divider {
  background: #999;
  width: 3.9px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.resize-icon {
  color: #999;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: white;
  border-radius: 5px;
  border-color: #999 !important;
  border-width: 2px !important;
  cursor: ew-resize;
}

.resizable-dragging-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: ew-resize;
}

/* ***************ASL CHAT STYLE*************** */
.asl-chat-container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  border-color: #ddd;
  background-color: #eee;
}

.asl-chat-list {
  background: white;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: darkgrey transparent;
}

.asl-chat-list::-webkit-scrollbar {
  width: 5px;
}

/* For WebKit (Chrome, Safari, etc.) */
.asl-chat-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
}

.asl-chats {
  height: 100%;
  overflow-y: auto;
  padding: 10px 0;
  scrollbar-width: thin;
  scrollbar-color: darkgrey transparent;
}

.asl-chats::-webkit-scrollbar {
  width: 3px;
}

/* For WebKit (Chrome, Safari, etc.) */
.asl-chats::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 3px;
}

.asl-chat-box {
  /* background: white; */
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
  
  box-sizing: border-box;
}

.current-word {
  background-color: #00626244;
  padding: 10px;
  border-radius: 10px;
  min-height: 60px;
}

.messages {
  flex-grow: 1; /* Takes up all available space */
  overflow-y: auto; /* Enable scroll if content is larger than the space */
  padding: 0.5cm;
  padding-top: 50px;

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: darkgrey transparent;
}

.messages::-webkit-scrollbar {
  width: 5px;
}

/* For WebKit (Chrome, Safari, etc.) */
.messages::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
}

/* ***************ACCOUNT SETTINGS STYLE*************** */
.account-settings-form {
  width: 90%;
  background: white;
}

.account-settings-user-info {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  color: black;
}

.user-profile-picture {
  width: 15vw;
  border-color: #023e3d;
}

.user-name-text {
  font-weight: bold;
}

.user-email-text {
  font-weight: bold;
  color: #023e3d;
}

.change-user-profile-icon {
  color: white;
  background-color: #006262;
  border-color: white !important;
  border-width: 2px !important;
  padding: calc(5px + 0.1vw);
  cursor: pointer;
  font-size: calc(12px + 1.5vw);
}

.settings-form {
  background-color: #eee;
}

.settings-submit-button {
  background-color: #006262;
  color: white;
  font-size: large;
  font-weight: bold;
}

.settings-submit-button:hover {
  background-color: #023e3d;
  color: white;
  font-size: large;
  font-weight: bold;
}

.settings-container {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.account-button-style {
  background-color: #006262;
  color: white;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
  /* width: 12rem; */
  font-size: large;
  font-weight: bold;
}

/* ***************SUPPORT STYLE*************** */

.support-cards-container {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  background-color: #eee;
  align-items: center;
}

.support-cards-container-odd {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  align-items: center;
}

.support-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.asl-translation-options-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
/****************************** Resources Page ****************************/
.resources-buttons {
  background-color: #006262;
  border: none; 
  border-radius: 5px; 
  color: #fff; 
  transition: background-color 0.3s ease; 
}

.resources-buttons:hover {
  background-color: #023e3d; 
}



/* ***************LANDING PAGE STYLE*************** */
.visuhero-section {
  background-image: url('../src/assets/images/bg7.png');
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding-top: 50px;
  min-height: 100vh;
  width: 100%; 
  overflow: hidden; 
}

.visuspeak-hero {
  margin-bottom: 100px; /* Increased space below the hero content */
  padding-top: 5rem;
}

.visuspeak-hero h1 {
  font-size: 50px; 
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1000px; /* Adjusted max-width for better scaling */
  margin: 20px auto 50px;
  margin-top: -1.5rem;
}

.features-title {
  color: #006262;
  margin-bottom: 1rem;
  text-align: left !important;
  font-size: 24px; /* Increased font size for the feature title */
}

.benefits-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
  justify-content: center;
  gap: 1px; 
}

.benefit-card {
  background-color: #006262;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefit-icon {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

.benefit-text h3 {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.benefit-text p {
  color: #ffffff;
  font-size: 0.9rem;
  text-align: center;
}

.learn-more-link {
  color: #006262;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 0.1;
  align-self: center;
  display: inline-block;
  position: relative;
  padding-right: 25px;
}

/* Adds the arrow after the link text */
.learn-more-link::after {
  content: '→';
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  font-size: 1.25em;
}

@media (max-width: 768px) {
  .features-container {
    width: 95%;
    margin-top: 30px; /* Increased margin-top for spacing */
  }

  .benefit-card {
    width: calc(50% - 20px); /* Full width for better alignment */
    margin: 10px 0; /* Adjusted margin for consistency */
  }

  .hero-section {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .visuspeak-hero {
    margin-bottom: 30px; /* Increased space below the hero content */
  }

  .learn-more-link {
    margin-top: 20px;
  }
}

.asl-user-query, .connect-admin {
  font-size: 24px;
  margin-bottom: 0.5rem;
}

/* Ensuring the main heading is responsive and prominent */
@media (max-width: 768px) {
  .benefit-card {
    width: calc(100% - 20px); /* Full width */
  }
}

.disclaimer-text {
  width: 100%;
  background-color: #006262;
  color: white; 
  padding: 1rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.content-container{
  width: 100%;
  padding: 0;
} 

.video-responsive {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
  

/* ***************DASHBOARD PAGE STYLE*************** */
.dashboard{
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  height: 100vh;
  overflow: hidden; /* Prevent scrolling on the container */
}

.dashboard-row{
  display: flex; /* Enable flexbox */
  flex: 1; /* Take up all available space */
  overflow: hidden;
}

.dashboard-col{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-list-item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}
.user-list-item .fa-circle-check {
  color: #77bb41;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
}

h5 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.dashboard-header {
  background-color: #eee;
}

.overview-box, .feedback-box {
  background-color: #eee !important;
  padding: 10px;
  flex: 1; /* Take up all available space */
  display: flex; /* Enable flexbox */
  flex-direction: column;
  overflow-y: auto; /* Enable scrolling within this container */
}
/* ***************USER CARD STYLE*************** */
.user-card {
  position: absolute;
  width: 100%;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none; /* initially hidden */
  z-index: 10; /* ensure it's above other items */
}

.user-item:hover .user-card {
  display: block; /* show on hover */
}

.user-card-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-card-info {
  margin-left: 10px;
}

.user-card-organization {
  font-size: 1.3em;
  color: #006262; /* example green color */
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 5px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Ensure that the user list has a position relative to position the user cards correctly */
.user-item {
  position: relative;
  cursor: pointer;
}

