@media screen and (max-width: 600px) {

    .background-container {
        background-image: url('/src/assets/images/ASLBackgroundSigns.png');
        height: 150vh;
        padding: 100px 0;
      }

      .hero-section {
        background-image: url('/src/assets/images/ASLBackgroundSigns.png');
        height: 150vh;
        background-color: rgba(00, 00, 00, 0.50);
        color: white;
        padding: 100px 0;
      }

    .login-form,
    .signup-form {
        width: 90%;
        text-align: start;
        padding-bottom: 100px;
    }

    .form-label {
        font-size: larger;
        font-weight: bold;
        text-align: start;
    }

    .info-icon {
        display: flex;
        align-items: end;
        justify-content: end;
        text-align: end;
    }

    /* ***************HERO STYLE*************** */

    .menu-hero {
        min-height: 300px;
        min-width: 90%;
        right: 50%;
        top: 35%;
        transform: translate(50%, -50%);
        position: absolute;
        border-color: #ddd;
        display: flex;
        justify-content: center;
    }

    /* ***************CHAT MENU BUTTON STYLE*************** */
    .menu-button-style {
        background-color: #006262;
        color: white;
        width: 300px;
        height: 70px;
        font-size: large;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .menu-button-style:hover {
        background-color: #023e3d;
        color: white;
        font-size: large;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-button-style {
        background-color: #006262;
        color: white;
        width: 100%;
        font-size: medium;
    }

    .home-button-style:hover {
        background-color: #006262;
        color: white;
        width: 100%;
        font-size: medium;
    }

    .button-style {
        background-color: #006262;
        color: white;
        width: 100px;
        font-size: medium;
    }

    .button-style:hover {
        background-color: #006262;
        color: white;
        width: 100px;
        font-size: medium;
    }

    /* ***************FOOTER STYLE*************** */
    .footer {

        height: 210px;

    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        flex-direction: row;
        align-items: center;
        font-size: small;
        padding: 10px;
    }

    .menu-item {
        margin: 10px;
    }

    .social-media {
        padding: 20px;
    }

    .rights {
        margin-top: 10px;
    }

    /* ***************NAVBAR STYLE*************** */
    .nav-link {
        padding-left: 10px;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: white;
        background-color: #006262;
        /* padding-left: 10px; */
    }

    .nav-link:hover,
    .nav-link:focus {
        background-color: #023e3d;
        color: white;

    }

    /* ***************ABOUT US STYLE*************** */
    .hyperlink-social-row {
        display: flex;
        flex-direction: row;
    }

    /* ***************CHAT STYLE*************** */
    .chat-container {
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .avatar {
        width: 30px;
        height: 30px;
    }

    .chat-actions button {
        font-size: 20px;
    }

    .chat-messages {
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    .background-container {
        background-image: url('/src/assets/images/ASLBackgroundSigns.png');
        height: 300vh;
        padding: 100px 0;
      }
}